/* New CSS */
.school-slider-sections.hp {
  background: #ebebeb;
}

.school-slider-sections h2 {
  font-family: "Esperanza Headline Roman";
  font-size: 68px;
  line-height: 109%;
  color: var(--blue-color);
  margin: 0px;
}

.school-section {
  background-color: #09213a;
}

.school-section img {
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Hover Effect Styles */
.school-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.school-image-wrapper img {
  transition: transform 0.3s ease;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.school-overlay-one {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top,
      rgba(120, 81, 158, 0.7) 50%,
      rgba(38, 28, 53, 0.6) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(53, 11, 38, 0.5) 50%,
      rgba(130, 26, 78, 0.5) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-three {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(8, 53, 49, 0.5) 50%,
      rgba(16, 142, 142, 0.5) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-four {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(31, 44, 22, 0.6) 50%,
      rgba(60, 84, 42, 0.7) 100%,
      rgba(104, 146, 74, 0.4));
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-five {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(89, 68, 36, 0.6) 50%,
      rgba(224, 180, 83, 0.7) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-six {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(63, 32, 11, 0.6) 50%,
      rgba(203, 101, 30, 0.7) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-overlay-seven {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(46, 57, 43, 0.6) 50%,
      rgba(160, 169, 130, 0.5) 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.school-image-wrapper:hover .school-overlay-one,
.school-image-wrapper:hover .school-overlay-two,
.school-image-wrapper:hover .school-overlay-three,
.school-image-wrapper:hover .school-overlay-four,
.school-image-wrapper:hover .school-overlay-five,
.school-image-wrapper:hover .school-overlay-six,
.school-image-wrapper:hover .school-overlay-seven {
  opacity: 1;
}

.school-image-wrapper:hover img {
  transform: scale(1.05);
}

.school-overlay h3 {
  font-family: "Esperanza Headline Roman";
  font-size: 25px;
  line-height: 1.2;
  margin: 0 0 5px 0;
}

.school-overlay h3 .school-type {
  font-family: "Anek Devanagari", sans-serif;
}

.school-info {
  margin-top: auto;
}

.school-info p {
  font-size: 28px;
  margin: 2px 0;
  opacity: 0.8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .school-image-wrapper {
    height: 200px;
  }

  .school-overlay {
    padding: 15px;
  }

  .school-overlay h3 {
    font-size: 25px;
  }

  .school-info p {
    font-size: 18px;
  }

  .school-slider-sections .swiper-pagination {
    left: 25% !important;
  }

  .school-slider-sections .swiper-button-prev {
    left: 53% !important;
  }

  .school-block .content-area .info {
    font-size: 20px !important;
  }
}

@media (max-width: 576px) {
  .school-image-wrapper {
    height: 180px;
  }

  .school-overlay {
    padding: 12px;
  }

  .school-overlay h3 {
    font-size: 20px;
  }

  .school-info p {
    font-size: 18px;
  }
}

/* Education With purpose */
.school-slider-sections .container {
  width: 100%;
  max-width: 100%;
  padding: 0 140px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.school-slider-sections .btn-more {
  font-size: 28px;
  line-height: 109%;
  position: relative;
  color: var(--blue-color);
  font-family: "Anek Devanagari", sans-serif;
  text-decoration: none;
}

.school-slider-sections .btn-more::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  background: var(--blue-color);
  height: 1px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.school-slider-sections .btn-more:hover::before {
  width: 100%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.school-block {
  background: #ebebeb;
  position: relative;
  overflow: hidden;
}

.school-block .leftbg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53%;
  height: 100%;
}

.school-block .leftbg .rightsidebg {
  width: 0;
  height: 0;
  border-right: 328px solid transparent;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 1;
}

.school-block .content-area {
  height: 100%;
  position: relative;
  z-index: 2;
  width: 50%;
  padding: 160px 142px 230px 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.school-block .content-area h3 {
  font-family: "Esperanza Headline Roman";
  font-size: 58px;
  line-height: 117%;
  color: #09213a;
}

.school-block .content-area p {
  font-family: "Anek Devanagari", sans-serif;
  font-size: 24px;
  line-height: 117%;
  color: #09213a;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.school-block .content-area .info {
  font-family: "Anek Devanagari", sans-serif;
  font-size: 35px !important;
  line-height: 117%;
  color: #124066;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.school-block .content-area .btn-visit {
  font-size: 24px;
  line-height: 109%;
  position: relative;
  color: #fff;
  font-family: "Anek Devanagari", sans-serif;
  text-decoration: none;
  font-weight: 500;
}

.school-block .content-area .btn-visit::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  background: #fff;
  height: 1px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.school-block .content-area .btn-visit:hover::before {
  width: 100%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.school-block .school-photo {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  width: 48.8% !important;
  height: 100%;
}

.school-block .school-photo img {
  width: 92%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.school-block .content-area p {
  animation: unset !important;
}

.school-slider-sections .swiper-pagination {
  bottom: 22%;
  left: 23%;
}

.school-slider-sections .swiper-pagination-bullet-active {
  background: #fff !important;
}

.school-slider-sections .swiper-button-prev {
  left: 55%;
  bottom: 0%;
  top: 76%;
  color: #fff !important;
  z-index: 9999;
}

.school-slider-sections .swiper-button-next {
  right: 0%;
  top: auto;
  margin-right: 140px;
  bottom: 20%;
  color: #fff !important;
  z-index: 9999;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
  color: #fff !important;
}

/* Medium Desktop */
@media only screen and (max-width: 1640px) {

  .school-slider-sections.hp,
  .school-slider-sections.hp .container {
    padding: 0 50px 0px 50px;
  }

  .school-slider-sections .container {
    padding: 0 50px 30px 50px;
  }

  .school-slider-sections h2 {
    font-size: 36px;
  }

  school-slider-sections .btn-more {
    font-size: 22px;
  }

  .school-block {
    height: 580px;
  }

  .school-block .content-area {
    padding: 60px 60px 100px 50px;
  }

  .school-block .content-area h3 {
    font-size: 45px;
    line-height: 51px;
  }

  .school-block .content-area p {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .school-block .content-area .info {
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 22px;
  }

  .school-block .school-photo {
    width: 58.85%;
  }
}

/* Small Laptop */
@media only screen and (min-width: 931px) and (max-width: 1024px) {
  .school-slider-sections .swiper-pagination {
    left: 23%;
  }

  .school-slider-sections .swiper-button-prev {
    left: 58%;
  }

  .school-slider-sections .swiper-button-next {
    right: 0%;
  }
}

@media only screen and (min-width: 575px) and (max-width: 930px) {
  .school-slider-sections .swiper-button-next {
    left: 89%;
  }

  .school-slider-sections .swiper-button-prev {
    left: 47%;
  }

  .school-slider-sections .swiper-pagination {
    left: 18%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 574px) {
  .school-slider-sections .swiper-button-next {
    left: 86%;
  }

  .school-slider-sections .swiper-button-prev {
    left: 45%;
  }

  .school-slider-sections .swiper-pagination {
    left: 18%;
  }

  .school-block .content-area h3 {
    line-height: 38px !important;
    font-size: 18px !important;
  }

  .school-block .content-area .info {
    font-size: 24px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 425px) {
  .school-slider-sections .swiper-button-next {
    left: 86%;
  }

  .school-slider-sections .swiper-button-prev {
    left: 45%;
  }

  .school-slider-sections .swiper-pagination {
    left: 18%;
  }

  .school-block .content-area {
    width: 100%;
  }

  .school-block .content-area h3 {
    text-align: left;
    font-size: 22px !important;
    line-height: 31px;
  }

  .school-block .school-photo {
    width: 102% !important;
    left: 38% !important;
    margin-top: 2rem !important;
  }

  .school-block .school-photo img {
    width: 100% !important;
    height: 80%;
    object-fit: cover;
    object-position: center;
  }

  .school-slider-sections .swiper-pagination {
    display: none;
  }
}

/* Tablet (Landscape) */
@media only screen and (max-width: 1024px) {
  .school-slider-sections h2 {
    font-size: 36px;
  }

  .school-slider-sections .btn-more {
    font-size: 20px;
  }

  .school-block {
    height: 500px;
  }

  .school-block .content-area {
    padding: 50px 30px 90px 30px;
  }

  .school-block .content-area h3 {
    font-size: 28px;
  }

  .school-block .content-area p {
    font-size: 15px;
  }

  .school-block .content-area .info {
    font-size: 26px !important;
    margin: 0 0 10px 0;
  }

  .school-block .leftbg .rightsidebg {
    border-top-width: 500px !important;
    border-right: 200px solid transparent;
  }
}

/* Tablet (Portrait) */
/* @media only screen and (max-width: 767px) {
  .school-slider-sections {
    padding: 30px 0 0 0;
  }

  .school-slider-sections .container {
    padding: 0 30px 30px 20px;
    display: block;
  }

  .school-slider-sections h2 {
    font-size: 24px;
  }

  .school-slider-sections .btn-more {
    font-size: 17px;
  }

  .school-block .leftbg {
    width: 100%;
  }

  .school-block .content-area {
    padding: 30px 20px 20px 20px;
    width: 100%;
    display: block;
  }

  .school-block .content-area h3 {
    font-size: 24px;
  }

  .school-block .content-area .info {
    font-size: 20px;
  }

  .school-block .content-area p {
    margin: 0 0 6px 0;
  }
} */


@media only screen and (min-width: 320px) and (max-width: 425px) {
  .school-block .school-photo {
    position: absolute;
    left: 50% !important;
    right: 50% !important;
    transform: translateX(-50%);
    width: 85%;
    height: auto;
    margin-bottom: 20px;
    top: 23%;
  }

  .school-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .school-slider-sections .swiper-button-prev {
    bottom: 2%;
    left: 18%;
  }

  .school-slider-sections .swiper-button-prev,
  .school-slider-sections .swiper-button-next {
    z-index: 9999;
  }

 .school-slider-sections .swiper-button-prev {
   top: auto;
    left: 69% !important;
  }

  .school-slider-sections .swiper-button-next {
    bottom: 2%;
    left: 83%;
  }

  .school-slider-sections .swiper-pagination {
    left: 0%;
    bottom: 4%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #09213a !important;
  }

  .school-block .school-photo img {
    width: 89% !important;
    height: 67%;
    object-fit: cover;
    object-position: center;
  }

.school-slider-sections .bottombar {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: left;
  z-index: 10;
}

.school-slider-sections .info {
  border-radius: 8px;
  font-size: 24px;
  max-width: 90%;
  text-align: left;
  font-family: "Anek Devanagari", sans-serif;
}

}