.left-panel {
    display: flex;
    background-color: #09213a;
    color: white;
    padding: 60px 50px 50px 60px;
    top: 0;
    overflow-y: auto;
}

.right-panel {
    background-color: #09213a;
}


.desktop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px;
}

.mobile-carousel {
    display: none;
}

.project-underway {
    background-color: #09213a;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel h1 {
    font-family: 'Esperanza Headline Roman';
    font-size: 2.5rem !important;
    font-weight: 400;
    line-height: 109%;
}

.left-panel p {
    font-family: "Anek Devanagari", sans-serif;
    font-size: 19px !important;
    color: #FFFFFF !important;
    line-height: 117% !important;
    font-weight: 200 !important;
}

.project-card h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 120%;
    font-family: "Anek Devanagari";
}

.left-heading h1 .break {
  display: block;
}

@media only screen and (max-width: 1640px) {
    .left-panel h1 {
        font-size: 54px;
    }

    .left-panel p {
        font-size: 19px;
    }

    .project-card h2 {
        font-size: 18px;
    }
}

/* Tablet View */
@media (max-width: 1024px) {
    .project-underway {
        flex-direction: column;
    }

    .left-panel {
        position: relative;
        width: 100%;
        padding: 30px 20px 0px 20px;
    }

    /* hide grid, show carousel */
    .desktop-grid {
        display: none;
    }

    .mobile-carousel {
        display: block;
        padding: 20px;
    }

    .left-panel h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .left-panel p {
        font-size: 19px;
    }

    .project-card h2 {
        font-size: 18px;
        margin-top: 15px;
    }
}

/*  Mobile View */
@media (max-width: 768px) {
    .left-panel {
        display: flex;
        flex-direction: column;
        background-color: #09213a;
        color: white;
        top: 0;
        overflow-y: auto;
    }

    .left-heading,
    .left-content {
        width: 100% !important;
    }

    .left-panel h1 {
        font-size: 2.5rem !important;
    }

    .left-panel p {
        font-size: 18px;
    }

    .project-card h2 {
        font-size: 1.25rem;
        margin-top: 15px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 10px;
    }
}

/* Small Mobile View */
@media (max-width: 506px) {
    .left-panel h1 {
        font-size: 35px;
    }

    .project-card h2 {
        font-size: 1rem;
    }

    /* Positioning */
    .swiper-button-next {
        right: 10px;
        top: 7% !important;
    }

    .swiper-button-prev {
        left: 10px;
        top: 7% !important;
        left: 85% !important;
    }
}

/* Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    top: 50%
}


.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 22px !important;
    color: #FFFFFF;
}

/* Positioning */
.swiper-button-next {
    right: 10px;
    top: 7% !important;
}

.swiper-button-prev {
    left: 10px;
    top: 7% !important;
    left: 89% !important;
}

@media (min-width:375px) and (max-width: 425px) {
    .swiper-button-prev {
        left: 81% !important;
    }
}

@media (max-width: 320px) {
    .swiper-button-prev {
        left: 75% !important;
    }
}