.banner-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Blue background */
.blue-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a3c5a;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}
.blue-bg.show {
  opacity: 1;
}
.blue-bg.hide {
  opacity: 0;
}

/* Rays */
.ray-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease;
}
.ray-container.show {
  opacity: 1;
}
.ray-container.hide {
  opacity: 0;
}

.breadcrumb-area {
  margin-top: -2.5rem;
}

.ray {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 200vh;
  background: rgba(255, 255, 255, 0.3);
  transform-origin: bottom center;
  animation: radiate 3s infinite ease-in-out;
  opacity: 0;
}

@keyframes radiate {
  0% {
    transform: rotate(var(--angle)) scaleY(0.3);
    opacity: 0;
  }
  50% {
    transform: rotate(var(--angle)) scaleY(1);
    opacity: 0.8;
  }
  100% {
    transform: rotate(var(--angle)) scaleY(1.5);
    opacity: 0;
  }
}

/* Image */
.banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 1;
}
.banner-image.show {
  opacity: 1;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* dark transparent */
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 2;
}
.overlay.show {
  opacity: 0.4;
}

/* Text */
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 3;
}
.banner-text h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Esperanza Headline Roman";
  color: #ffff;
  font-weight: 400;
}
.banner-text p {
  font-size: 32px;
  font-weight: 500;
}
.banner-text.show {
  opacity: 1;
}
